@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Body Styles */
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
body ul {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #BE5757;
}
body p {
  line-height: 2.4rem;
}

/* Background Color */
.noise {
  position: relative;
  background: #0a0a0a;
}

/* Noise Overlay Background */
.noise::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/noise-png.png");
  opacity: 0.5;
  pointer-events: none;
}

/* Header Area */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header .desc-header {
  text-align: center;
  position: relative;
  top: 3.5rem;
}
header .desc-header p {
  font-family: "DM Sans", sans-serif;
  color: #BE5757;
  font-size: 1.9rem;
  font-weight: 200;
}
header .desc-header .one-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(202, 74, 39);
}

/* Type Writer Styles & Animation */
.typewriter {
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid #BE5757;
  width: 0;
  animation: typing 3s steps(60, end) forwards, blink 0.7s infinite;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
/* Blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* Florida Text Fade In Effect */
.one-text {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 3s;
}

/* Fade-in keyframe */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  max-width: 100%;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  margin: 2rem;
}
.header-container h2 {
  color: #B6B6B6;
  font-size: 10rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 4rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 5rem;
}
.nav-container ul, .nav-container a {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

ul.menu2 li {
  position: relative;
}

ul.menu2 a {
  text-decoration: none;
  color: #B6B6B6;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.3s ease;
}

ul.menu2 li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #BE5757;
  transition: width 0.3s ease;
}

ul.menu2 li a:hover {
  transform: translateY(-5px);
  color: #BE5757;
}

ul.menu2 li a:hover::after {
  width: 100%;
}

/* Mouse Circle Styles */
.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 2px solid #BE5757;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2.9 * -1);
  left: calc(var(--circle-size) / 2.5 * -1);
  pointer-events: none;
  z-index: 9999;
}

/* ABOUT ME AREA*/
.soon > h2 {
  color: #BE5757;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-weight: 200;
  padding-bottom: 10rem;
}

.year {
  color: #B6B6B6;
}

.lst-name {
  display: block;
  margin-top: 5rem;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #BE5757;
  font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 586px) {
  .header-container > h2, .lst-name {
    font-size: 4.7rem;
    padding: 0rem;
    margin: 0;
    color: #B6B6B6;
  }
  .typewriter {
    color: #BE5757;
    font-size: 1.2rem;
    text-wrap: wrap;
  }
  .nav-container .menu2 li a {
    color: #B6B6B6;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */